<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap4 %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Resumex - Professional HTML CSS Resume Website Template</title>

    <!-- favicon -->
    <link href="{% static 'favicon.png' %}" rel=icon>

    <!-- web-fonts -->
    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">

    <!-- font-awesome -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Style CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar">
<div id="main-wrapper">
<!-- Page Preloader -->


<div class="columns-block container">
<div class="left-col-block blocks">
    <header class="header theiaStickySidebar">
        <div class="profile-img">
            <img src="{% static 'img/my-img.jpg' %}" class="img-responsive" alt=""/>
        </div>
        <div class="content">
            <h1>Muhammad Rehan</h1>
            <span class="lead">Python Django Developer</span>

            <div class="about-text">
                <p style="text-align:justify">
                    Dedicated and innovative professional with related education, practicum, and experience to contribute to long-range
                    operational objectives in a Software Engineer role. Proven success in analysis, design, development, implementation and
                    testing of various stand-alone and client-server architecture based enterprise application software in Python on various
                    domains.


                <p><img src="{% static 'img/SignatureBlack.png' %}" alt="" class="img-responsive"/></p>
            </div>


            <ul class="social-icon">
                <li><a href="https://github.com/rehan252"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/muhammad-rehan-3b47a3165/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="https://www.facebook.com/rhn25"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://stackoverflow.com/users/6790203/muhammad-rehan"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a></li>
                <li><a href="skype:rhn.swl?chat"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
            </ul>
        </div>

    </header>
    <!-- .header-->
</div>
<!-- .left-col-block -->


<div class="right-col-block blocks">
<div class="theiaStickySidebar">
<section class="expertise-wrapper section-wrapper gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Expertise</h2>
                </div>
            </div>
        </div>
        <!-- .row -->

        <div class="row">
            <div class="content-item">
                <p style="text-align:justify">
                    Expertise in various phases of SDLC requirement analysis, design, development and testing on various
                    development and enhancement projects. Conversant with building and providing database connectivity
                    to websites, implementing new and existing web applications, and installing windows operating system.
                    Analyzes and troubleshoots problems in a fast-paced environment to overcome challenges, solve problems,
                    and meet client needs.
                </p>
            </div>
        </div>


        </div>
</section>
<!-- .expertise-wrapper -->

<section class="section-wrapper skills-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Skills</h2>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="progress-wrapper">

                    <div class="progress-item">
                        <span class="progress-title">Python</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 80%"><span class="progress-percent"> 80%</span>
                            </div>
                        </div>
                        <!-- .progress -->
                    </div>
                    <!-- .skill-progress -->


                    <div class="progress-item">
                        <span class="progress-title">Django</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 70%"><span class="progress-percent"> 70%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->


                    <div class="progress-item">
                        <span class="progress-title">HTML/CSS/JS</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 65%;"><span class="progress-percent"> 65%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->

                    <div class="progress-item">
                        <span class="progress-title">Communtcation Skills</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="77" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 77%;"><span class="progress-percent"> 77%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->
                    <div class="progress-item">
                        <span class="progress-title">Database System Architecture</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="67" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 67%;"><span class="progress-percent"> 67%</span>
                            </div>
                        </div>
                        <!-- .progress -->
                    </div>
                    <!-- .skill-progress -->

                </div>
                <!-- /.progress-wrapper -->
            </div>
        </div>
        <!--.row -->
    </div>
    <!-- .container-fluid -->
</section>
<!-- .skills-wrapper -->

<section class="section-wrapper section-experience gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title"><h2>Work Experience</h2></div>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                <div class="content-item">
                    <small>03-10-2019 | 12-11-2019</small>
                    <h3>Python & Django Developer (Internship)</h3>
                    <a href="http://www.nextbridge.pk/" rel="nofollow"><h4>NextBridge (Pvt.) Ltd.</h4></a>

                    <p>Lahore, Pakistan</p>
                    <div class="content-item">
                        <ul class="job-detail">
                            <li class="job-li">Learn and Implements basics key features of Python and core.</li>
                            <li class="job-li">Develop small users applications using Django web and DTL.</li>
                            <li class="job-li">Successfully scrap contact details from sites using BeautifulSoup4.</li>
                            <li class="job-li">Learn and develop Django APIs and deploy sites on CPanel</li>
                        </ul>
                </div>
                </div>
                <!-- .experience-item -->
                <div class="content-item">
                    <small>11-02-2019 | 02-10-2019</small>
                    <h3>Business Development Executive (Digital)</h3>
                    <a href="https://www.optimushr.com.pk/" rel="nofollow"><h4>Optimus H.R. (Pvt.) Ltd.</h4></a>

                    <p>Sahiwal, Pakistan</p>
                    <div class="content-item">
                        <ul class="job-detail">
                            <li class="job-li">Successfully design website and perform routine updates, upgrades, and overall maintenance of website, while
                                ensuring accuracy of website content by thoroughly editing and cross-checking.</li>
                            <li class="job-li">Functioned in close collaboration with team members to identify and resolve website issues in a timely manner.</li>
                            <li class="job-li">Administer social media platforms and provide social media monitoring reports to senior management.</li>
                        </ul>
                </div>
                </div>
                <!-- .experience-item -->
                <div class="content-item">
                    <small>11-07-2018 | 18-11-2018</small>
                    <h3>WordPress Developer</h3>
                    <a href="https://www.buzzinteractive.co/" rel="nofollow"><h4>Buzz Interactive</h4></a>

                    <p>Lahore, Pakistan</p>
                    <div class="content-item">
                        <ul class="job-detail">
                            <li class="job-li">Created and maintained websites, prototypes, and applications while using WordPress and offered timely resolution
                                to reported problems with existing websites.</li>
                            <li class="job-li">Ensured high-performance of websites by developing website’s architecture, implementing new features,
                                        and managing all technical functions through liaison with development teams.</li>
                        </ul>
                </div>
                </div>
                <!-- .experience-item -->
                <!-- .experience-item -->
                <div class="content-item">
                    <small>14-11-2017 | 30-07-2018</small>
                    <h3>Assistant Project Manager & Web Developer</h3>
                    <a href="https://www.globitalmarketing.com/" rel="nofollow"><h4>Globiatl Media Marketing</h4></a>

                    <p>Faisalabad, Pakistan</p>
                    <div class="content-item">
                        <ul class="job-detail">
                            <li class="job-li">Timely responded to client’s queries and fixed Websites errors in a timely manner by designing new modules.</li>
                            <li class="job-li">Utilized Analytics systems, such as Google Analytics and Tag Manager to manage and deploy marketing tags while
                                providing statistics and basic analytical tools for search engine optimization (SEO).</li>
                        </ul>
                </div>
                </div>
                <!-- .experience-item -->
            </div>
        </div>
        <!--.row-->
    </div>
    <!-- .container-fluid -->

</section>
<!-- .section-experience -->

<section class="section-wrapper section-education">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title"><h2>Education</h2></div>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                <div class="content-item">
                    <small>2013 - 2017</small>
                    <h3>BS Computer Science</h3>
                    <h4>Government College University Faisalabad</h4>

                    <p>Faisalabad, Pakistan</p>
                </div>
                <!-- .experience-item -->
                <div class="content-item">
                    <small>2011 - 2013</small>
                    <h3>Intermediate in Computer Science</h3>
                    <h4>Punjab Group of College</h4>

                    <p>Sahiwal, Pakistan</p>
                </div>
                <!-- .experience-item -->
                <div class="content-item">
                    <small>2009 - 2011</small>
                    <h3>Matriculation</h3>
                    <h4>Pre Forces Boys Cadet School</h4>

                    <p>Sahiwal, Pakistan</p>
                </div>
                <!-- .experience-item -->
                <div class="row">
            <div class="col-md-12">
                <div class="section-title"><h2>Courses</h2></div>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                <div class="content-item">
                    <small>Oct 2019 - Nov 2019</small>
                    <h3>Python Web Development</h3>
                    <a href="https://nextbridgeinstitute.com/" rel="nofollow"><h4>NextBridge Institute (Pvt.) Ltd.</h4></a>

                    <p>Lahore, Pakistan</p>
                </div>
            </div>
        </div>
        <!--.row-->
                <div class="row">
            <div class="col-md-12">
                <div class="content-item">
                    <small>Sep 2019 - Nov 2019</small>
                    <h3>Python and Django Development</h3>
                    <a href="https://www.udemy.com/python-and-django-full-stack-web-developer-bootcamp/" rel="nofollow"><h4>Udemy by Jose</h4></a>

                    <p>Online</p>
                </div>
            </div>
        </div>
        <!--.row-->
    </div>
    <!-- .container-fluid -->
        </div> </div>
</section>
<!-- .section-education -->

<!-- .section-publications -->

<section class="section-wrapper portfolio-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Portfolio</h2>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <a class="portfolio-item" href="#">
                    <div class="portfolio-thumb">
                        <img src="{% static 'img/portfolio-2.jpg' %}" alt="">
                    </div>

                    <div class="portfolio-info">
                        <h3>Customer focused</h3>
                        <small>domain.com</small>
                    </div>
                    <!-- portfolio-info -->
                </a>
                <!-- .portfolio-item -->
            </div>
            <div class="col-md-6">
                <a class="portfolio-item" href="#">
                    <div class="portfolio-thumb">
                        <img src="{% static 'img/portfolio-3.jpg' %}" alt="">
                    </div>

                    <div class="portfolio-info">
                        <h3>Management methodology</h3>
                        <small>domain.com</small>
                    </div>
                    <!-- portfolio-info -->
                </a>
                <!-- .portfolio-item -->
            </div>
            <div class="col-md-6">
                <a class="portfolio-item" href="#">
                    <div class="portfolio-thumb">
                        <img src="{% static 'img/portfolio-4.jpg' %}" alt="">
                    </div>

                    <div class="portfolio-info">
                        <h3>Market research</h3>
                        <small>domain.com</small>
                    </div>
                    <!-- portfolio-info -->
                </a>
                <!-- .portfolio-item -->
            </div>

        </div>
        <!-- /.row -->
    </div>
</section>
<!-- .portfolio -->
<section class="section-wrapper section-interest gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Core Competencies</h2>
                </div>
            </div>
        </div>
        <!-- .row -->

        <div class="row">
            <div class="col-md-12">
                <div class="content-item">
                        <ul class="job-detail" style="display:inline;">
                            <li class="job-li">Python Development</li>
                            <li class="job-li">Django CRUD</li>
                            <li class="job-li">Clients Management</li>
                            <li class="job-li">Testing & Troubleshooting</li>
                            <li class="job-li">Technical Support</li>
                            <li class="job-li">System Analysis / Process Redesign</li>
                            <li class="job-li">Problem Solving</li>
                            <li class="job-li">Google Analytics</li>
                        </ul>
                </div>
            </div>
        </div>
        <!-- .row -->

    </div>
</section>
<section class="section-contact section-wrapper gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Contact</h2>
                </div>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                <address>
                    <strong>Address</strong><br>
                    Farid Town, Street 6<br>
                    Sahiwal.

                </address>
                    <strong>Mobile Number</strong><br>
                    +92 315 643 5850
                </address>


                <address>
                    <strong>Email</strong><br>
                    <a href="mailto:rhn.swl@gmail.com" style="color:#30a89e;">rhn.swl@gmail.com</a>
                </address>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                <div class="feedback-form">
                    <h2>Get in touch</h2>

                    <form id="contactForm" method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <!-- .feedback-form -->


            </div>
        </div>
    </div>
    <!--.container-fluid-->
</section>
<!--.section-contact-->

<footer class="footer">
    <div class="copyright-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="copytext">&copy; Rehan CV. All rights reserved
                    <p>this site has been developed using Python 3.8 and Django 2.2.7</p></div>
                </div>
            </div>
            <!--.row-->
        </div>
        <!-- .container-fluid -->
    </div>
    <!-- .copyright-section -->
</footer>
<!-- .footer -->
</div>
<!-- Sticky -->
</div>
<!-- .right-col-block -->
</div>
<!-- .columns-block -->
</div>
<!-- #main-wrapper -->

<!-- jquery -->
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/theia-sticky-sidebar.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>